<div class="container">
  <div class="row my-3 justify-content-center">
    <%= render 'layouts/main_head' %>
  </div>

  <div class="row">
    <h2 class="col-12 my-3">トレンドトップ30</h2>
    <div class="col-md-6">
      <table class="table table-hover table-inverse">
        <tbody>
          <% @trends.each_with_index do |trend, i| %>
            <% if i >= 15 %>
              <% break %>
            <% else %>
              <tr>
                <td class="px-0">
                  <%= i+1 %>.
                </td>
                <td class="pl-0">
                  <a href="<%= trend[:url] %>" class=""> <%= trend[:name] %> </a>
                </td>
                <td class="pl-0 tw_tr_count d-flex justify-content-end">
                  <%= trend[:tweet_volume] %><% if trend[:tweet_volume] %> 件のツイート<% end %>
                </td>
                <td class="px-0" style="width:35px;">
                  <%= link_to search_path(keyword: trend[:name]), class: "btn btn-sm btn-outline-secondary" do %>
                    <i class="fa fa-chart-line"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <table class="table table-hover table-inverse">
        <tbody>
          <% @trends.each_with_index do |trend, i| %>
            <% if i <= 14 %>
              <% next %>
            <% else %>
              <tr>
                <td class="px-0">
                  <%= i+1 %>.
                </td>
                <td class="pl-0">
                  <a href="<%= trend[:url] %>" class=""> <%= trend[:name] %> </a>
                </td>
                <td class="pl-0 tw_tr_count d-flex justify-content-end">
                  <%= trend[:tweet_volume] %><% if trend[:tweet_volume] %> 件のツイート<% end %>
                </td>
                <td class="px-0" style="width:35px;">
                  <a class="btn btn-sm btn-outline-secondary" href="/search?keyword=<%= trend[:name] %>"><i class="fa fa-chart-line"></i></a>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
