<div class="tab_box col-sm-12 my-2 px-0">
  <!-- タブボタン -->
  <div class="btn_area">
    <% tabs&.each_with_index do |tab, i| %>
      <p class="tab_btn<%= i == 0 ? ' active f_tab' : '' %>"><%= tab.name %><span class="d-none tab-cel"><%= tab.id %></span></p>
    <% end %>

  </div>

  <!-- タブ編集フォーム -->
  <div class="tab_form edit_tog">
    <% tabs&.each_with_index do |t,i| %>
      <div class="col-12 tab_edit<%= i == 0 ? ' active f_tab' : '' %>">
        <%= form_with model: t, local: false, class: 'row p-2' do |f| %>
          <div class="form-group mb-0">
            <%= f.text_field :name, placeholder: 'タブ名', class: 'mr-2' %>
          </div>
          <div class="form-group mb-0">
            <%= f.submit '変更', class: 'btn btn-sm btn-info' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- キーワード選択フォーム -->
  <%= form_with url: "/search",method: :get do |f| %>
    <div class="panel_area mb-2 overflow-auto" style="height: 45vh;">
      <% tabs.each_with_index do |tab, i| %>
        <% tab_words = words.where(tab_id: tab.id) %>
        <div class="tab_panel<%= i == 0 ? ' active f_tab' : '' %> overflow-y-auto">
          <table class="table table-hover table-sm table-borderless keywords_<%= tab.id %> mb-0">
            <%= render "searches/keyword", words: tab_words %>
          </table>
        </div>
      <% end %>
    </div>
    <div class="mb-4 d-flex justify-content-center">
      <button title="検索" type="submit" class="btn btn-sm btn-info px-5 edit">比べる</button>
    </div>
  <% end %>
</div>
