<div class="btn_area">
    <% tabs.each_with_index do |tab, i| %>
      <p class="tab_btn<%= i == 0 ? ' active' : '' %>"><%= tab.name %><span class="d-none tab-cel"><%= tab.id %></span></p>
    <% end %>
    <% if tabs_count < 3 %>
      <%= form_with model: tab_new, local: true, class: 'ml-2 d-flex align-item-end' do |f| %>
        <%= f.submit '+', class: 'px-2' %>
      <% end %>
    <% end %>
  </div>

  <%= form_with url: "/search",method: :get do |f| %>
    <div class="panel_area mb-2">
      <% tabs.each_with_index do |tab, i| %>
        <div class="tab_panel<%= i == 0 ? ' active' : '' %>">
          <% if word %>
            <% word.each do |word| %>
                <table class="table table-sm table-borderless mb-0">
                  <% if word.tab_id == tab.id %>
                  <tr>
                    <td>
                      <%= f.check_box :keywords, {multiple: true}, word.word %>
                      <%= f.label :word, word.word, class: "m-0" %>
                    </td>
                    <td width="20px">
                      <%= link_to '削除', word, method: :delete, data: { confirm: '削除しますか？'}, class: "del_tog btn btn-sm btn-danger p-1 ml-auto", style: "display:none;" %>
                    </td>
                  </tr>
                  <% end %>
                </table>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mb-4 d-flex justify-content-center">
      <button title="検索" type="submit" class="btn btn-sm btn-info px-5">比べる</button>
    </div>
  <% end %>
