<div class="m_tab_box my-2 col-md-8 col-sm-12">
  <div class="m_btn_area">
    <% tabs.each_with_index do |tab, i| %>
      <p class="m_tab_btn<%= i == 0 ? ' active' : '' %>"><%= tab.name %><span class="d-none tab-cel"><%= tab.id %></span></p>
    <% end %>
    <% if tabs_count < 3 %>
      <%= form_with model: tab_new, local: true, class: 'ml-2 d-flex align-item-end' do |f| %>
        <%= f.submit '+', class: 'px-2' %>
      <% end %>
    <% end %>
  </div>


  <div class="m_panel_area mb-2 overflow-auto" style="height: 50vh;">
    <% tabs.each_with_index do |tab, i| %>
      <div class="m_tab_panel<%= i == 0 ? ' active' : '' %> overflow-y-auto">
        <% if word %>
          <% word.each do |word| %>
            <% if word.tab_id == tab.id %>
              <table class="table table-hover table-sm table-borderless mb-0">
                <tr id="keyword_<%= word.id %>">
                  <td class="" style="width:20px;">
                    <i class="fas fa-ellipsis-v"></i>
                  </td>
                  <td class="m-0">
                    <%= word.word %>
                  </td>
                  <td width="20px">
                    <%= link_to '削除', keyword_path(word.id), method: :delete, class: "del_tog btn btn-sm btn-danger p-1 ml-auto", remote: true, data: { confirm: '削除しますか？'} %>
                  </td>
                </tr>
              </table>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
<!--<div class="masksearch"></div>-->
