<div class="keywordform">
  <%= render "searches/keywordform", tabs: tabs, tabs_count: tabs_count, tab_new: tab_new, words: words %>
</div>

<!-- キーワード作成form -->
<% if tabs_count >= 1 %>
  <div class="col-12 mb-3">
    <% if words.count < 30 %>
      <%= form_with model: word_new, local: false, class: 'row' do |f| %>
        <div class="form-group mb-1 mr-2">
          <%= f.collection_select(:tab_id, tabs, :id, :name) %> に登録
        </div>
        <div class="form-group form_word mb-1">
          <%= f.text_field :word, required: true, placeholder: 'キーワード', class: 'mr-2 text_field' %>
        </div>
        <div class="form-group mb-1">
          <%= f.submit '登録', class: 'btn btn-sm btn-info' %>
        </div>
      <% end %>
    <% else %>
      <div>
        登録できるキーワードは30個までです。<br/>
        新しく登録する場合は既にあるキーワードを削除してください。
      </div>
    <% end %>
  </div>
<% else %>
  <div>
    <p>上の＋ボタンでタブを作成後、<br/>キーワードを登録してください。</p>
    <p>タブは最大3つ、キーワードは合計30個まで登録できます。</p>
  </div>
<% end %>

<div class="menu-details d-flex justify-content-center">
  <div class="search-contents btn btn-sm btn-secondary px-5 mb-2">
    <i class="fas fa-cog"></i>
  </div>
</div>