<div class="tab_box my-2">
  <div class="btn_area">
    <% @tabs.each_with_index do |tab, i| %>
      <p class="tab_btn <% if i == 0 %>active<% end %>"><%= tab.name %><span class="d-none tab-cel"><%= tab.id %></span></p>
    <% end %>
    <% if @tabs_count < 3 %>
      <%= form_with model: @tab_new, local: true, class: 'ml-2 d-flex align-item-end' do |f| %>
        <%= f.submit '+', class: 'px-2' %>
      <% end %>
    <% end %>
  </div>

  <%= form_with url: "/search",method: :get do |f| %>
    <div class="panel_area mb-2">
      <% @tabs.each_with_index do |tab, i| %>
        <div class="tab_panel <% if i == 0 %>active<% end %>">
          <% if @word %>
            <% @word.each do |word| %>
              <% if word.tab_id == tab.id %>
                <table class="table table-sm table-borderless mb-0">
                  <tr>
                    <td>
                      <%= f.check_box :keywords, {multiple: true}, word.word %>
                      <%= f.label :word, word.word, class: "m-0" %>
                    </td>
                    <td width="">
                      <%= link_to '削除', word, method: :delete, data: { confirm: '削除しますか？'}, class: "del_tog btn btn-sm btn-danger p-1 ml-auto", style: "display:none;" %>
                    </td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mb-4 d-flex justify-content-center">
      <button title="検索" type="submit" class="btn btn-sm btn-info px-md-5">比べる</button>
    </div>
  <% end %>
</div>

<!-- キーワード作成form -->
<% if @tabs_count >= 1 %>
  <div class="col-12">
    <% if @word_count <= 30 %>
      <%= form_with model: @word_new, class: 'row' do |f| %>
        <div class="form-group mb-1">
          <%= f.select :tab_id, @tabs_h, class: "tab_id" %> に登録
        </div>
        <div class="form-group">
          <%= f.text_field :word, placeholder: 'キーワード', class: 'mr-2' %>
        </div>
        <div class="form-group">
          <%= f.submit '登録', class: 'btn btn-sm btn-info' %>
        </div>
      <% end %>
    <% else %>
      <div>
        登録できるキーワードは30個までです。<br/>
        新しく登録する場合は既にあるキーワードを削除してください。
      </div>
    <% end %>
  </div>

  <!-- タブ編集form -->
  <div class="d-flex justify-content-center">
    <div class="edit_btn btn btn-sm btn-secondary px-5 mb-2"><i class="fas fa-cog"></i></div>
  </div>
  <div>
    <% @tabs.each_with_index do |t,i| %>
      <div class="col-12 slide_tog card <% if i == 0 %>active<% end %>" style="display:none;">
        <%= form_with model: t, class: 'row p-2' do |f| %>
          <div class="form-group mb-1">
            <%= f.text_field :name, placeholder: 'タブ名', class: 'mr-2' %>
          </div>
          <div class="form-group mb-1">
            <%= f.submit '変更', class: 'btn btn-sm btn-info' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>上の＋ボタンでタブを作成し、<br/>キーワードを登録してください。</p>
<% end %>





<!----- jQuery ----->
<script>
  // タブ機能
  $('.tab_box .tab_btn').click(function() {
  	var index = $('.tab_box .tab_btn').index(this);
  	$('.tab_box .tab_btn, .tab_box .tab_panel').removeClass('active');
  	$('.slide_tog').removeClass('active');
  	$(this).addClass('active');
  	$('.tab_box .tab_panel').eq(index).addClass('active');
  	$('.slide_tog').eq(index).addClass('active');
  	$("input[name='keywords[]']").prop('checked', false);  //全チェック解除
  });

  // タブ編集表示・非表示
  $(function(){
    $(".edit_btn").click(function() {
      $(".slide_tog").slideToggle();
    });
  });
  // 登録キーワード削除表示・非表示
  $(function(){
    $(".edit_btn").click(function() {
      $(".del_tog").toggle();
    });
  });
</script>