<div class="container">
  <div class="row my-3 justify-content-center">
    <%= render 'layouts/main_head' %>
  </div>
<%= @comparison %>
  <div class="row">
    <div class="col-md-9 tweet_chart">
      <% if @keyword %>
        <h2 class="my-2">検索結果: <a href="http://twitter.com/search?q=<%= @keyword %>"><%= @keyword %></a></h2>
        <div>
          １週間の総ツイート数：<%= @tweets['meta']['total_tweet_count'].to_s(:delimited) %> 件
        </div>
        <div>
          <%= render 'chart' %>
        </div>
      <% elsif @comparison %>
        <h2 class="my-2">検索結果: <% @comparison.each_with_index do |c, i| %>
            <a href="http://twitter.com/search?q=<%= c %>"><%= c %></a>/
          <% end %>
        </h2>
        <div>
          1週間の総ツイート数：
          <% @comparison.each_with_index do |c,i| %>
            <%= "「" + c +"」" %>
            <%= @result_tws[i]['meta']['total_tweet_count'].to_s(:delimited) %> 件 /
          <% end %>
        </div>
        <div>
          <%= render 'chart' %>
        </div>
      <% else %>
        <p class="mt-3">キーワードを検索してください。</p>
      <% end %>
    </div>

    <!-- サイドバー -->
    <% if user_signed_in? %>
      <div class="sidebar col-md-3">
        <%= render 'searches/sideber', tabs: @tabs, tabs_count: @tabs_count, tab_new: @tab_new, words: @words, word_new: @word_new %>
      </div>
    <% end %>
  </div>

  <!-- モーダル -->
  <div class="row">
    <div class="modalsearch">
      <div class="modalsearch-close ml-2">
        <i class="far fa-times-circle"></i>
      </div>
      <div class="modalsearch-contents">
        <%= render "searches/keywordform", tabs: @tabs, tabs_count: @tabs_count, tab_new: @tab_new, words: @words %>
      </div>
      <div class="modalsearch-contents">
        <%= render "searches/tabform", tabs: @tabs %>
      </div>
    </div>
  </div>
  <div class="masksearch"></div>
  <!-- /モーダル -->
</div>



<script>
  // モーダル
  $(function() {
    var index = $('.tab_box .tab_btn').index(this);
    $('.search-contents').on('click',function(){
      $('.modalsearch,.masksearch').fadeIn();
      $('.tab_box .tab_btn, .tab_box .tab_panel').removeClass('active');
      $('.f_tab').addClass('active');
    });
    $('.modalsearch-close,.masksearch').on('click',function(){
      $('.modalsearch,.masksearch').fadeOut();
      $(".edit").toggle(200);
      $('.tab_box .tab_btn, .tab_box .tab_panel').removeClass('active');
      $('.f_tab').addClass('active');
    });
  });

  // タブ機能
  $('.tab_box .tab_btn').click(function() {
  	var index = $('.tab_box .tab_btn').index(this);
  	console.log(index);
  	$('.tab_box .tab_btn, .tab_box .tab_panel').removeClass('active');
  	$('.slide_tog').removeClass('active');
  	$(this).addClass('active');
  	$('.tab_box .tab_panel').eq(index).addClass('active');
  	$('.slide_tog').eq(index).addClass('active');
  	$("input[name='keywords[]']").prop('checked', false);  //全チェック解除
  });

  // タブ機能
  // $('.m_tab_box .m_tab_btn').click(function() {
  // 	var index = $('.m_tab_box .m_tab_btn').index(this);
  //   $('.m_tab_box .m_tab_btn, .m_tab_box .m_tab_panel').removeClass('active');
  //   $('.m_slide_tog').removeClass('active');
  // 	$(this).addClass('active');
  //   $('.m_tab_box .m_tab_panel').eq(index).addClass('active');
  //   $('.m_slide_tog').eq(index).addClass('active');
  // });

  // 登録キーワード削除表示・非表示
  $(function(){
    $(".edit_btn").click(function() {
      $(".edit").toggle();
      $('.f_tab').addClass('active');
      // $('.m_slide_tog').eq(index).addClass('active');
    });
  });
</script>
</div>
<!-- /モーダル -->