<div class="container">
  <div class="row my-3 justify-content-center">
    <%= render 'layouts/main_head' %>
  </div>

  <div class="row">
    <div class="col-md-9 tweet_chart">
      <% if @keyword.present? %>
        <h2 class="my-2">検索結果: <%= @keyword %></h2>
        １週間の総ツイート数：<%= @tweets['meta']['total_tweet_count'] %> 件
        <div>
          <%= render 'chart' %>
        </div>


        <!-- memo -->
        <%= @tweets %>

        <p></p>
        <% @tweets.each do |tweet| %>
          <%= @tweets['data'][0] %>
        <% end %>

        <p></p>
        <p>ツイートカウント</p>
        <% @tweet_count.times do |i| %>
          <%= @tweets['data'][i]['tweet_count'] %>,
        <% end %>
        <%= @tweet_count %>
        <%= @tweets.find_all{|y| y == ['tweet_count']} %>

      <% else %>
        キーワードを検索してください。
      <% end %>
    </div>

    <div class="col-md-3">
      <%= render 'tab' %>
    </div>
  </div>
</div>



