<!DOCTYPE html>
<html>
  <head>
    <title>比べたter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>

  <body class="d-flex flex-column">
    <%= render 'layouts/header' %>

    <main>
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <i class="fas fa-check-circle"></i><apan class="ml-2"><%= notice %></apan>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <i class="fas fa-exclamation-triangle"></i><apan class="ml-2"><%= alert %></apan>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>